@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  --clr-primary-800: hsl(271, 36%, 24%);
  --clr-primary-600: hsl(271, 15%, 43%);
  --clr-primary-500: hsl(276, 55%, 52%);
  --clr-primary-300: hsl(206, 6%, 79%);
  --clr-primary-400: hsl(270, 7%, 64%);
  --clr-primary-200: hsl(276, 100%, 81%);
  --clr-secondary-800: hsl(271, 36%, 24%);
  --clr-secondary-300: hsl(289, 100%, 72%);
  --clr-secondary-200: hsl(272, 41%, 93%);
  --clr-secondary-110: hsl(270, 20%, 96%);
  --clr-secondary-100: hsl(0, 0%, 100%);
  --gradient-primary: linear-gradient(200deg, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  --ff-primary: "Roboto", sans-serif;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fs-500: 2.5rem;
  --fs-300: 1.6rem;
  --fs-200: 1.4rem;
  --fs-100: 1rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Full height by default */
body,
html {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* List reset */
.clr-white {
  color: var(--clr-secondary-100);
}

.bg-white {
  background-color: var(--clr-secondary-100);
}

.bg-primary-gradient {
  background: var(--gradient-primary);
}

.fw-medium {
  font-weight: var(--fw-medium);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.container {
  display: grid;
  justify-items: center;
  gap: 2rem;
  width: min(28rem, 90%);
  margin-inline: auto;
  padding: 2rem 1rem;
  position: relative;
  overflow-y: hidden;
}
@media (min-width: 70em) {
  .container {
    align-items: center;
    grid-template-columns: 1fr 1fr;
    width: 80%;
  }
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3em 2em 1em 2em;
}
.chat-header__right {
  align-items: center;
}
.chat-header__back-btn {
  --size: 0.8em;
}
.chat-header__user-image {
  width: 3.5em;
  border: 1px solid var(--clr-secondary-100);
}
.chat-header__user-info {
  display: grid;
}
.chat-header__user-name {
  font-size: var(--app-fs-200);
}
.chat-header__status {
  color: var(--clr-primary-200);
}

.chat-main {
  display: grid;
  gap: 1.8em;
  padding: 1.2em;
  background-color: var(--clr-secondary-110);
}

.chat-bubble, .chat-bubble--incoming {
  width: fit-content;
  color: var(--clr-secondary-900);
  background: var(--clr-secondary-100);
  box-shadow: none;
  border-radius: 1em 1em 0.3em 1em;
  padding: 1em;
}
.chat-bubble__text {
  max-width: 15em;
}
.chat-bubble--incoming {
  border-radius: 1em 1em 1em 0.3em;
  background-color: var(--clr-secondary-200);
  color: var(--clr-primary-500);
}

.chat-row, .chat-row--align-right {
  --animation-start-pos: 10%;
  display: grid;
  gap: 1em;
  animation: 1s ease-in-out 0s running row-slide-in;
  animation-fill-mode: forwards;
}
.chat-row--align-right {
  --animation-start-pos: -10%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

@keyframes row-slide-in {
  from {
    opacity: 0;
    transform: translateX(var(--animation-start-pos));
  }
  to {
    opacity: 1;
    transform: unset;
  }
}
.chat-input {
  color: var(--clr-primary-400);
}
.chat-input__input-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 1.6em;
  border-radius: 3em;
}
.chat-input__send-btn {
  width: 3.5em;
  aspect-ratio: 1;
  background: var(--clr-secondary-800);
  padding: 0;
  border: 0;
  display: grid;
  place-items: center;
}

.image-bubble__image-list {
  --gap: 1em;
}
.image-bubble__image {
  border-radius: 1em;
  width: 5em;
}

.payment-option-bubble {
  width: fit-content;
  color: var(--clr-secondary-200);
  background: var(--gradient-primary);
  box-shadow: none;
  border-radius: 1em 1em 1em 0.3em;
  padding: 1em;
  width: max(20em, 70%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.payment-option-bubble__right {
  display: flex;
  align-items: center;
  gap: 1.2em;
}
.payment-option-bubble__radio-btn {
  --size: 1.5em;
  width: var(--size);
  height: var(--size);
  border: 1px solid var(--clr-secondary-100);
}
.payment-option-bubble__price {
  color: var(--clr-secondary-100);
  font-size: var(--app-fs-300);
  font-weight: var(--fw-bold);
}

.arrow-icon, .arrow-icon--left {
  --_color: var(--color, var(--clr-secondary-100));
  --_thickness: var(--thickness, 0.4em);
  --_direction: var(--direction, 1);
  --_size: var(--size, 1em);
  width: var(--_size);
  height: var(--_size);
  border-right: var(--_thickness) solid var(--_color);
  border-bottom: var(--_thickness) solid var(--_color);
  transform-origin: center;
  transform: scale(var(--_direction)) rotate(-45deg);
}
.arrow-icon--left {
  --direction: -1;
}

.more-icon {
  width: 1em;
  aspect-ratio: 1;
  background: none;
  padding: 0;
  border: 0;
  display: grid;
  gap: 0.2rem;
}
.more-icon__dot {
  width: 0.25em;
  height: 0.25em;
  background-color: var(--clr-secondary-200);
}

.app-illustration {
  width: min(20rem, 90%);
  overflow: hidden;
  border: 8px solid var(--clr-secondary-100);
  border-radius: 2rem;
  font-size: 0.6rem;
  position: relative;
  --app-fs-300: 1.7em;
  --app-fs-200: 1.4em;
  --app-fs-100: 1em;
  /* duration, time-function, delay, iteration-count, play-state, animation-name */
  animation: 1s ease-in-out 0s running illustration-fade-in;
  animation-fill-mode: forwards;
}
.app-illustration::before {
  content: "";
  position: absolute;
  width: 55%;
  height: 1.4rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 2em 2em;
  background-color: var(--clr-secondary-100);
}

@keyframes illustration-fade-in {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: unset;
  }
}
.app-description {
  display: grid;
  gap: 1rem;
  text-align: center;
  color: var(--clr-primary-400);
}
.app-description__strong {
  font-size: var(--fs-500);
  color: var(--clr-secondary-800);
}
@media (min-width: 70em) {
  .app-description {
    text-align: left;
  }
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-secondary-110);
  overflow-x: hidden;
}
body::before {
  content: "";
  position: fixed;
  z-index: -1;
  width: 30rem;
  height: 80%;
  border-radius: 0 0 25rem 25rem;
  background: var(--gradient-primary);
  transform: translateX(-50%);
}
@media (min-width: 70em) {
  body::before {
    transform: unset;
  }
}
body::after {
  content: "";
  position: fixed;
  z-index: -1;
  width: 30rem;
  height: 80%;
  border-radius: 25rem 25rem 0 0;
  background: var(--clr-secondary-200);
  right: 0;
  bottom: -20%;
  transform: translateX(50%);
}
@media (min-width: 70em) {
  body::after {
    transform: unset;
  }
}

.flex-group {
  --_gap: var(--gap, 1rem);
  display: flex;
  gap: var(--_gap);
}

.full-rounded {
  border-radius: 50%;
}

.user-image {
  border-radius: 50%;
}