@use "base";
@use "abstracts" as *;
@use "utilities" as *;
@use "components";


body {
    font-family: var(--ff-primary);
    background: var(--clr-secondary-110);
    overflow-x: hidden;

    &::before {
        @include body-background-visuals($color: var(--gradient-primary));
        transform: translateX(-50%);
        @include mq($breakpoint-desktop) {
            transform: unset;
        }

    }

    &::after {
        @include body-background-visuals($color: var(--clr-secondary-200), $border-radius: 25rem 25rem 0 0);
        right: 0;
        bottom: -20%;
        transform: translateX(50%);

        @include mq($breakpoint-desktop) {
            transform: unset;
        }
    }
}


.flex-group {
    --_gap: var(--gap, 1rem);
    display: flex;
    gap: var(--_gap);
}


.full-rounded {
    border-radius: 50%;
}


.user-image {
    border-radius: 50%;
}