@use "base";
@use "abstracts" as *;


body {
    font-family: var(--ff-primary);
    background: var(--clr-secondary-110);
    overflow-x: hidden;

    &::before {
        @include body-background-visuals($color: var(--gradient-primary));
    }

    &::after {
        @include body-background-visuals($color: var(--clr-secondary-200), $border-radius: 25rem 25rem 0 0);
        right: 0;
        bottom: 0;
    }
}


.bg-primary-gradient {
    background: var(--gradient-primary);
}


.flex-group {
    --_gap: var(--gap, 1rem);
    display: flex;
    gap: var(--_gap);
}


.full-rounded {
    border-radius: 50%;
}


.user-image {
    border-radius: 50%;
}


.arrow-icon {
    --_color: var(--color, var(--clr-secondary-100));
    --_thickness: var(--thickness, 0.4em);
    --_direction: var(--direction, 1);
    --_size: var(--size, 1em);

    width: var(--_size);
    height: var(--_size);

    border-right: var(--_thickness) solid var(--_color);
    border-bottom: var(--_thickness) solid var(--_color);

    transform-origin: center;
    transform: scale(var(--_direction)) rotate(-45deg);


    &--left {
        @extend .arrow-icon;
        --direction: -1;
    }
}


.clr-white {
    color: var(--clr-secondary-100);
}


.bg-white {
    background-color: var(--clr-secondary-100);
}


.fw-medium {
    font-weight: var(--fw-medium);
}


.fw-bold {
    font-weight: var(--fw-bold);
}


.app-description {
    display: none;
}


.container {
    display: flex;
    justify-content: center;
    width: min(28rem, 90%);
    margin-inline: auto;
}


.app-illustration {
    width: min(20rem, 80%);
    overflow: hidden;
    border: 8px solid var(--clr-secondary-100);
    border-radius: 2rem;
    font-size: 0.6rem;

    position: relative;
    
    --app-fs-300: 1.7em;
    --app-fs-200: 1.4em;
    --app-fs-100: 1em;


    &::before {
        content: "";
        position: absolute;
        width: 55%;
        height: 1.4rem;

        left: 50%;
        transform: translateX(-50%);

        border-radius: 0 0 2em 2em;

        background-color: var(--clr-secondary-100);
    }


}


.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 3em 2em 1em 2em;
    // back btn, profile img, status
    &__right {
        align-items: center;
    }


    &__back-btn {
        // variable of arrow-icon class
        --size: 0.8em;
    }


    &__user-image {
        width: 3.5em;
        border: 1px solid var(--clr-secondary-100);
    }


    &__user-info {
        display: grid;
    }


    &__user-name {
        font-size: var(--app-fs-200);
    }


    &__status {
       color: var(--clr-primary-200);
    } 
}


.chat-main {
    display: grid;
    gap: 1.8em;
    padding: 1.2em;
    background-color: var(--clr-secondary-110);
}


.more-icon {
    @include button(1em);
    display: grid;
    gap: 0.2rem;
    
    &__dot {
        width: 0.25em;
        height: 0.25em;
        background-color: var(--clr-secondary-200);
    }
}


.chat-bubble {
    @include chat-bubble($color: var(--clr-secondary-900), $background-color:var(--clr-secondary-100),$border-radius: 1em 1em 0.3em 1em);
    

    &__text {
        max-width: 15em;
    }

    &--incoming {
        @extend .chat-bubble;
        border-radius: 1em 1em 1em 0.3em;
        background-color: var(--clr-secondary-200);
        color: var(--clr-primary-500);
    }
}


.chat-row {
    display: grid;
    gap: 1em;
    &--align-right {
        @extend .chat-row;
        display: flex;
        flex-direction: column;
        align-items: end;
    }
}


.image-bubble {

    &__image-list {
        --gap: 1em;
    }

    &__image {
        border-radius: 1em;
        width: 5em;
    }
}


.payment-option-bubble {
    @include chat-bubble($color: var(--clr-secondary-200), $background-color: var(--gradient-primary), $border-radius: 1em 1em 1em 0.3em);

    width: max(20em, 70%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    &__right {
        display: flex;
        align-items: center;
        gap: 1.2em;
    }

    &__radio-btn {
        --size: 1.5em;

        width: var(--size);
        height: var(--size);
        border: 1px solid var(--clr-secondary-100)
    }

    &__price {
        color: var(--clr-secondary-100);
        font-size: var(--app-fs-300);
        font-weight: var(--fw-bold);
    }
}



.chat-input {
    color: var(--clr-primary-400);
    &__input-field {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0.8em 1.6em;
        border-radius: 3em;
    }


    &__send-btn {
        @include button($size: 3.5em, $background: var(--clr-secondary-800));

        display: grid;
        place-items: center;
    }
}